<center>

  <h1>ConSpeciFix</h1>
  <h1><small><i>identification of prokaryote species based on gene flow</i></small></h1>
<hr width="70%" size="2">

</center>
<br>


<div class="row">
  <div class="col-sm-1"> &nbsp </div>
  <div class="col-sm-10"> 

    To use ConSpeciFix to assign bacteria to Biological Species:
    <ul>
    <li> <b> Prepare your data: </b> retrieve the FASTA file (.fa) containing the genome that you wish to assign. (an <a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/541/385/GCA_001541385.1_ASM154138v1/GCA_001541385.1_ASM154138v1_cds_from_genomic.fna.gz">example</a> from NCBI.) Please make certain to <a target="_blank" href="http://www.wikihow.com/Unzip-a-File">unzip</a> your file before uploading it.</li>
    <li> <b> Upload your data: </b> drag and drop your file into the field below.</li>
    <li> <b> Tell us what you know: </b> select the species set you would like to test your genome against. If you do not know which candidate species to test against, you can search for the most likely species by selecting "Submit genome for Exploratory Phase". Once the most likely candidate species has been identified, you can submit your genome again to run a full recombination-based species classification. </li>
    <li> <b> Get Answers: </b> you will receive an email when the results are ready (usually in a matter of hours).</li>
    </ul>
    <br>
  </div>
  <div class="col-sm-1"> &nbsp </div>
</div>


<br>
<center>

    <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
    <!-- <div ng-show="files.length"> -->
    <div ng-show="true">
        <div ng-repeat="file in files.slice(0)"> <br>
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
            </span>)
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4"> &nbsp </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" ng-disabled="submitted&& timeStamp!='error'" class="form-control" id="usr" ng-model="email" placeholder="your@email.com" >
            </div>
          </div>
          <div class="col-sm-4">&nbsp </div>
        </div>
        <div class="row">
          <div class="col-sm-2"> &nbsp </div>
          <div class="col-sm-4" style="border-right:thin #777777 solid; height:80px;"  > 
            <b> Choose Species</b> <br>
           <div class="form-group">
            <select class="form-control" ng-disabled="(submitted && timeStamp!='error')||explore"  id="exampleSelect" ng-model="species">
              <option disabled> Choose Species </option>
              <option value="Acetobacter_pasteurianus">Acetobacter pasteurianus</option>
              <option value="Achromobacter_xylosoxidans">Achromobacter xylosoxidans</option>
              <option value="Acinetobacter_calcoaceticus">Acinetobacter calcoaceticus</option>
              <option value="Acinetobacter_pittii">Acinetobacter pittii</option>
              <option value="Actinobacillus_pleuropneumoniae">Actinobacillus pleuropneumoniae</option>
              <option value="Actinomyces_naeslundii">Actinomyces naeslundii</option>
              <option value="Actinomyces_oris">Actinomyces oris</option>
              <option value="Aeromonas_hydrophila">Aeromonas hydrophila</option>
              <option value="Agrobacterium_tumefaciens">Agrobacterium tumefaciens</option>
              <option value="Aliivibrio_fischeri">Aliivibrio fischeri</option>
              <option value="Alteromonas_mediterranea">Alteromonas mediterranea</option>
              <option value="Anaplasma_phagocytophilum">Anaplasma phagocytophilum</option>
              <option value="Bacillus_amyloliquefaciens">Bacillus amyloliquefaciens</option>
              <option value="Bacillus_anthracis">Bacillus anthracis</option>
              <option value="Bacillus_atrophaeus">Bacillus atrophaeus</option>
              <option value="Bacillus_coagulans">Bacillus coagulans</option>
              <option value="Bacillus_licheniformis">Bacillus licheniformis</option>
              <option value="Bacillus_megaterium">Bacillus megaterium</option>
              <option value="Bacillus_pumilus">Bacillus pumilus</option>
              <option value="Bacillus_subtilis">Bacillus subtilis</option>
              <option value="Bacillus_velezensis">Bacillus velezensis</option>
              <option value="Bacillus_weihenstephanensis">Bacillus weihenstephanensis</option>
              <option value="Bacteroides_ovatus">Bacteroides ovatus</option>
              <option value="Bacteroides_uniformis">Bacteroides uniformis</option>
              <option value="Bartonella_henselae">Bartonella henselae</option>
              <option value="Bifidobacterium_bifidum">Bifidobacterium bifidum</option>
              <option value="Bifidobacterium_longum">Bifidobacterium longum</option>
              <option value="Bifidobacterium_pseudocatenulatum">Bifidobacterium pseudocatenulatum</option>
              <option value="Bordetella_bronchiseptica">Bordetella bronchiseptica</option>
              <option value="Borrelia_burgdorferi">Borrelia burgdorferi</option>
              <option value="Borrelia_garinii">Borrelia garinii</option>
              <option value="Brachyspira_hyodysenteriae">Brachyspira hyodysenteriae</option>
              <option value="Bradyrhizobium_japonicum">Bradyrhizobium japonicum</option>
              <option value="Buchnera_aphidicola">Buchnera aphidicola</option>
              <option value="Burkholderia_cenocepacia">Burkholderia cenocepacia</option>
              <option value="Burkholderia_cepacia">Burkholderia cepacia</option>
              <option value="Burkholderia_multivorans">Burkholderia multivorans</option>
              <option value="Burkholderia_stagnalis">Burkholderia stagnalis</option>
              <option value="Burkholderia_ubonensis">Burkholderia ubonensis</option>
              <option value="Chlamydia_trachomatis">Chlamydia trachomatis</option>
              <option value="Clostridium_beijerinckii">Clostridium beijerinckii</option>
              <option value="Clostridium_butyricum">Clostridium butyricum</option>
              <option value="Clostridium_perfringens">Clostridium perfringens</option>
              <option value="Clostridium_sporogenes">Clostridium sporogenes</option>
              <option value="Comamonas_testosteroni">Comamonas testosteroni</option>
              <option value="Corynebacterium_diphtheriae">Corynebacterium diphtheriae</option>
              <option value="Corynebacterium_glutamicum">Corynebacterium glutamicum</option>
              <option value="Corynebacterium_jeikeium">Corynebacterium jeikeium</option>
              <option value="Corynebacterium_ulcerans">Corynebacterium ulcerans</option>
              <option value="Cronobacter_sakazakii">Cronobacter sakazakii</option>
              <option value="Cutibacterium_acnes">Cutibacterium acnes</option>
              <option value="Elizabethkingia_anophelis">Elizabethkingia anophelis</option>
              <option value="Enterobacter_aerogenes">Enterobacter aerogenes</option>
              <option value="Enterobacter_asburiae">Enterobacter asburiae</option>
              <option value="Enterobacter_hormaechei">Enterobacter hormaechei</option>
              <option value="Enterococcus_faecalis">Enterococcus faecalis</option>
              <option value="Escherichia_albertii">Escherichia albertii</option>
              <option value="Flavobacterium_psychrophilum">Flavobacterium psychrophilum</option>
              <option value="Fusobacterium_necrophorum">Fusobacterium necrophorum</option>
              <option value="Fusobacterium_nucleatum">Fusobacterium nucleatum</option>
              <option value="Gallibacterium_anatis">Gallibacterium anatis</option>
              <option value="Gardnerella_vaginalis">Gardnerella vaginalis</option>
              <option value="Gilliamella_apicola">Gilliamella apicola</option>
              <option value="Haemophilus_parainfluenzae">Haemophilus parainfluenzae</option>
              <option value="Haemophilus_parasuis">Haemophilus parasuis</option>
              <option value="Helicobacter_pullorum">Helicobacter pullorum</option>
              <option value="Kingella_kingae">Kingella kingae</option>
              <option value="Klebsiella_michiganensis">Klebsiella michiganensis</option>
              <option value="Klebsiella_quasipneumoniae">Klebsiella quasipneumoniae</option>
              <option value="Klebsiella_variicola">Klebsiella variicola</option>
              <option value="Lactobacillus_aviarius">Lactobacillus aviarius</option>
              <option value="Lactobacillus_brevis">Lactobacillus brevis</option>
              <option value="Lactobacillus_crispatus">Lactobacillus crispatus</option>
              <option value="Lactobacillus_delbrueckii">Lactobacillus delbrueckii</option>
              <option value="Lactobacillus_gasseri">Lactobacillus gasseri</option>
              <option value="Lactobacillus_helveticus">Lactobacillus helveticus</option>
              <option value="Lactobacillus_iners">Lactobacillus iners</option>
              <option value="Lactobacillus_kunkeei">Lactobacillus kunkeei</option>
              <option value="Lactobacillus_reuteri">Lactobacillus reuteri</option>
              <option value="Lactobacillus_rhamnosus">Lactobacillus rhamnosus</option>
              <option value="Lactobacillus_salivarius">Lactobacillus salivarius</option>
              <option value="Lactococcus_lactis">Lactococcus lactis</option>
              <option value="Leptospira_kirschneri">Leptospira kirschneri</option>
              <option value="Leptospira_noguchii">Leptospira noguchii</option>
              <option value="Lysinibacillus_sphaericus">Lysinibacillus sphaericus</option>
              <option value="Mesorhizobium_loti">Mesorhizobium loti</option>
              <option value="Micrococcus_luteus">Micrococcus luteus</option>
              <option value="Microcystis_aeruginosa">Microcystis aeruginosa</option>
              <option value="Moraxella_catarrhalis">Moraxella catarrhalis</option>
              <option value="Morganella_morganii">Morganella morganii</option>
              <option value="Mycobacterium_africanum">Mycobacterium africanum</option>
              <option value="Mycobacterium_avium">Mycobacterium avium</option>
              <option value="Mycobacterium_chelonae">Mycobacterium chelonae</option>
              <option value="Mycobacterium_colombiense">Mycobacterium colombiense</option>
              <option value="Mycobacterium_fortuitum">Mycobacterium fortuitum</option>
              <option value="Mycobacterium_kansasii">Mycobacterium kansasii</option>
              <option value="Mycoplasma_bovis">Mycoplasma bovis</option>
              <option value="Porphyromonas_gingivalis">Porphyromonas gingivalis</option>
              <option value="Prochlorococcus_marinus">Prochlorococcus marinus</option>
              <option value="Propionibacterium_freudenreichii">Propionibacterium freudenreichii</option>
              <option value="Pseudoalteromonas_luteoviolacea">Pseudoalteromonas luteoviolacea</option>
              <option value="Pseudomonas_amygdali">Pseudomonas amygdali</option>
              <option value="Pseudomonas_chlororaphis">Pseudomonas chlororaphis</option>
              <option value="Pseudomonas_denitrificans">Pseudomonas denitrificans</option>
              <option value="Pseudomonas_fluorescens">Pseudomonas fluorescens</option>
              <option value="Pseudomonas_protegens">Pseudomonas protegens</option>
              <option value="Pseudomonas_putida">Pseudomonas putida</option>
              <option value="Pseudomonas_stutzeri">Pseudomonas stutzeri</option>
              <option value="Pseudomonas_syringae">Pseudomonas syringae</option>
              <option value="Raoultella_ornithinolytica">Raoultella ornithinolytica</option>
              <option value="Rhizobium_leguminosarum">Rhizobium leguminosarum</option>
              <option value="Rhodococcus_erythropolis">Rhodococcus erythropolis</option>
              <option value="Rhodococcus_fascians">Rhodococcus fascians</option>
              <option value="Rothia_mucilaginosa">Rothia mucilaginosa</option>
              <option value="Ruegeria_mobilis">Ruegeria mobilis</option>
              <option value="Salinispora_pacifica">Salinispora pacifica</option>
              <option value="Serratia_marcescens">Serratia marcescens</option>
              <option value="Sinorhizobium_meliloti">Sinorhizobium meliloti</option>
              <option value="Staphylococcus_argenteus">Staphylococcus argenteus</option>
              <option value="Staphylococcus_epidermidis">Staphylococcus epidermidis</option>
              <option value="Staphylococcus_equorum">Staphylococcus equorum</option>
              <option value="Staphylococcus_hominis">Staphylococcus hominis</option>
              <option value="Stenotrophomonas_maltophilia">Stenotrophomonas maltophilia</option>
              <option value="Streptobacillus_moniliformis">Streptobacillus moniliformis</option>
              <option value="Streptococcus_anginosus">Streptococcus anginosus</option>
              <option value="Streptococcus_cristatus">Streptococcus cristatus</option>
              <option value="Streptococcus_dysgalactiae">Streptococcus dysgalactiae</option>
              <option value="Streptococcus_equi">Streptococcus equi</option>
              <option value="Streptococcus_equinus">Streptococcus equinus</option>
              <option value="Streptococcus_gallolyticus">Streptococcus gallolyticus</option>
              <option value="Streptococcus_gordonii">Streptococcus gordonii</option>
              <option value="Streptococcus_parasanguinis">Streptococcus parasanguinis</option>
              <option value="Streptococcus_parauberis">Streptococcus parauberis</option>
              <option value="Streptococcus_pseudopneumoniae">Streptococcus pseudopneumoniae</option>
              <option value="Streptococcus_pyogenes">Streptococcus pyogenes</option>
              <option value="Streptococcus_salivarius">Streptococcus salivarius</option>
              <option value="Streptococcus_sanguinis">Streptococcus sanguinis</option>
              <option value="Streptomyces_griseus">Streptomyces griseus</option>
              <option value="Streptomyces_rimosus">Streptomyces rimosus</option>
              <option value="Sulfolobus_islandicus">Sulfolobus islandicus</option>
              <option value="Treponema_denticola">Treponema denticola</option>
              <option value="Tropheryma_whipplei">Tropheryma whipplei</option>
              <option value="Variovorax_paradoxus">Variovorax paradoxus</option>
              <option value="Vibrio_anguillarum">Vibrio anguillarum</option>
              <option value="Vibrio_campbellii">Vibrio campbellii</option>
              <option value="Vibrio_crassostreae">Vibrio crassostreae</option>
              <option value="Vibrio_cyclitrophicus">Vibrio cyclitrophicus</option>
              <option value="Vibrio_harveyi">Vibrio harveyi</option>
              <option value="Vibrio_nigripulchritudo">Vibrio nigripulchritudo</option>
              <option value="Vibrio_splendidus">Vibrio splendidus</option>
              <option value="Vibrio_vulnificus">Vibrio vulnificus</option>
              <option value="Wolbachia_endosymbiont">Wolbachia endosymbiont</option>
              <option value="Xanthomonas_albilineans">Xanthomonas albilineans</option>
              <option value="Xanthomonas_arboricola">Xanthomonas arboricola</option>
              <option value="Xanthomonas_axonopodis">Xanthomonas axonopodis</option>
            </select>
          </div>  
          </div>
           <div class="col-sm-4"> 
            <b> Exploratory Phase</b> <br>
              <div class="checkbox">
                <label><input type="checkbox"  ng-disabled="submitted && timeStamp!='error'" ng-model="explore" value="">Submit genome for Exploratory Phase</label>
              </div>
          </div>
          <div class="col-sm-2"> &nbsp </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3"> &nbsp</div>
          <div class="col-sm-6"> 
            <input type="button" ng-disabled="(submitted && timeStamp!='error')
                || (email == None || email == '')
                || files.length == 0
                || (species==None && explore==false)" class="btn btn-default" ng-click="uploadFile()" value="Upload and Begin" />
          </div>
          <div class="col-sm-3"> &nbsp </div>
        </div>
          
   
    </div>
    <br>
    <div ng-show="progress>-1 && progress<100"> progress: {{progress}}%</div>
     </center>  
    <br>
    <div ng-show="timeStamp==='error'">
      <center>
      <br>
      <b>Uh-o! We've got a problem:</b>
       </center>  
      <br>
      <div class="row">
        <div class="col-sm-1"> &nbsp </div>
        <div class="col-sm-10"> 
          It seems we've encountered an issue with the file you gave us. No worries, this probably just means the file didn't upload properly. Give it another go and if it keeps up, give us a holler at conspecifix@gmail.com and we'll see what we can do.
        </div>
        <div class="col-sm-1"> &nbsp </div>
      </div>

    </div>
    <div ng-show="timeStamp>0 && !explore">
      <center>
      <hr width="70%" size="2">

      <h2>{{species}}</h2>
      </center>
      <br><br>
      <p>
        The analysis has been started for your strain. We will send you the results from the analysis, including graphs of h/m ratios with and without your strain included, to {{emailAtSubmit}} . To see some more about our process, look <a href="#!/process">here</a>.
      </p>
    </div>
     <div ng-show="timeStamp>0 && explore">
      <center>
      <hr width="70%" size="2">

      <h2>Submitted</h2>
      <br>
      <br>
      </center>
      <p>
        We will email {{emailAtSubmit}} with the results of the exploration. To see some more about our process, please refer to <a href="#!/process">our process</a>.
      </p>
    </div>

</center>