<center>

  <h1>ConSpeciFix</h1>
  <h1><small><i>bacteria indentification for a new age</i></small></h1>
<hr width="70%" size="2">

</center>
<br>


<div class="row">
  <div class="col-sm-1"> &nbsp </div>
  <div class="col-sm-10"> 

    Get definitive results, fast!
    <ul>
    <li> <b> Prepeare your data: </b> find your FASTA file (.fa) containing the test genome (an <a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/544/855/GCA_001544855.1_ASM154485v1/GCA_001544855.1_ASM154485v1_cds_from_genomic.fna.gz">example</a> from NCBI)</li>
    <li> <b> Upload your data: </b> drag and drop your file into the field below</li>
    <li> <b> Tell us what you know: </b> select the species set you would like to test your genome against.</li>
    <li> <b> Get Answers: </b> we'll email you when we have some results to share with you.</li>
    </ul>
    <br>
    Happy testing!

  </div>
  <div class="col-sm-1"> &nbsp </div>
</div>


<br>
<center>

    <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
    <!-- <div ng-show="files.length"> -->
    <div ng-show="true">
        <div ng-repeat="file in files.slice(0)"> <br>
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
            </span>)
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4"> &nbsp </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" ng-model="email" placeholder="your@email.com" >
            </div>
          </div>
          <div class="col-sm-4">&nbsp </div>
        </div>
        <div class="row">
          <div class="col-sm-4"> &nbsp </div>
          <div class="col-sm-4"> 
           <div class="form-group">
            <select class="form-control" id="exampleSelect" ng-model="species">
              <option disabled> Choose Species </option>
              <option value="Mycobacterium_africanum" >Mycobacterium africanum</option>
            </select>
          </div>  
          </div>
          <div class="col-sm-4"> &nbsp </div>
        </div>

        <div class="row">
          <div class="col-sm-4"> &nbsp </div>
          <div class="col-sm-4"> 
            <input type="button" class="btn btn-default" ng-click="uploadFile()" value="Upload and Begin Comparison" />
          </div>
          <div class="col-sm-4"> &nbsp </div>
        </div>
          
        
    </div>
    <br>
    <div ng-show="progress>-1"> progress: {{progress}}</div>
    <div ng-show="timeStamp>0">
        <span>hello! We have answers</span>
        <br>
        <br>
        <span> an answer: </span> {{timeStamp}}
    </div>

</center>